<% @awards.each do |award| %>
<%= link_to award.name, award_path(award) %>
<% end %>

<% if current_user && current_user.admin? %>
<p>Create a New Award</p>

<%= form_for @award do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%=f.submit%>
<%end%>
<% end %>
